// ========== BEGIN RADIOBUTTON ========== //
input[type="radio"] {
    margin: 0;
}

input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 0.25em;
    border: 0.125em solid #555;
    position: relative;
}

input[type="radio"]:checked {
    background: rgb(204, 136, 74);
}

.radio {
    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        padding-top: 0.8rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin: 0;
        list-style: none;
    }

    &__label {
        font-size: 1.05rem;
        font-weight: 600;
    }

    &__price {
        font-size: 0.85rem;
    }

    &__button {
        height: 30px;
        font-size: 0.7rem;
        letter-spacing: 0.04rem;
    }
}
